/* body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.converter-container {
    text-align: center;
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
} */

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFBF5;
    width: 50%;
}


/* Media query for screens for mobile devices */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}